### Eclipse ###

/.project

### Eclipse+Java ###

/.classpath
/bin/

### IntelliJ IDEA ###

/out/

### Maven ###

/target/
/.flattened-pom.xml

# Add custom ignores after this line to be preserved during automated updates
