# Created by chorito https://github.com/ArloL/chorito

### Eclipse ###

/.project

### Eclipse+Java ###

/.classpath
/bin/

### IntelliJ IDEA ###

/out/

### Maven ###

/target/
/.flattened-pom.xml

# End of chorito. Add your ignores after this line and they will be preserved.
