# Created by chorito https://github.com/ArloL/chorito

### Maven Wrapper ###

!/maven-wrapper.jar
!/maven-wrapper.properties


# End of chorito. Add your ignores after this line and they will be preserved.
