### IntelliJ IDEA ###

*
!/.gitignore
!/eclipseCodeFormatter.xml
!/externalDependencies.xml
!/saveactions_settings.xml
!/codeStyles
!/codeStyles/codeStyleConfig.xml
!/codeStyles/Project.xml

# Add custom ignores after this line to be preserved during automated updates
